<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452374112190-opsv15hngkfi3bk31vl7n7nst8m5m1o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452374112190-opsv15hngkfi3bk31vl7n7nst8m5m1o4</string>
	<key>API_KEY</key>
	<string>AIzaSyAZbLMe5ilIggexVeTVcrhoD70Ru2mxM8g</string>
	<key>GCM_SENDER_ID</key>
	<string>452374112190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danitox.donBoscoApp</string>
	<key>PROJECT_ID</key>
	<string>don-bosco-app</string>
	<key>STORAGE_BUCKET</key>
	<string>don-bosco-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452374112190:ios:70bbdd5b6409074d</string>
	<key>DATABASE_URL</key>
	<string>https://don-bosco-app.firebaseio.com</string>
</dict>
</plist>